/* font-family: 'Nunito Sans', sans-serif; */

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  font-family: "Nunito Sans", sans-serif;
}

nav {
  background-color: #fb3f5c;
  height: 100px;
  display: flex;
}

header {
  margin-bottom: 75px;
}

strong {
  color: #fb3f5c;
}

button {
  margin-top: 50px;
  padding: 20px 30px;
  background-color: #fb3f5c;
  border-radius: 18px;
  border: none;
  color: white;
  display: flex;
}

.smallBox {
  display: flex;
}

.burger {
  height: 30px;
}

.pprofile {
  margin-top: 50px;
  display: flex;
}

.deco {
  position: absolute;
  top: 100px;
  right: -10px;
  z-index: -10;
}

.presentation {
  text-align: center;
}
